section {
  display: inline-block;
  float: left;
  margin-left: 20%;
  width: 30%;
}

.aside {
  text-align: center;
  width: 35%;
  display: inline-block;
  float: right;
}

p {
  text-align: center;
}

.container {
  display: inline-block;
  position: relative;
}
